<% include header %>

<!doctype html>
<html lang="en">
  <% include head %>

  <body id="rules">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <h2 style="text-align: left;">Perfil: <%= member.name %></h2>

        <% if( !member.yourMasterId || member.yourMasterId === '' ) { %>
          <button type="button" class="btn btn-dark col-12" data-toggle="modal" data-target="#modal-member" data-name="<%= name %>">Clique aqui para conseguir um mestre</button>
          <h6><%= member.name %> você pode enviar mais de uma solicitação, assim você tem mais chances de conseguir um mestre.</h6>
        <% } %>

        <div class="modal fade" id="modal-member" tabindex="-1" role="dialog" aria-labelledby="Member" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" data-default="Solicitar Mestre">Solicitar Mestre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="/master/request" method="post">
                <input type="hidden" class="form-control" name="name">

                <div class="modal-body">
                  <div class="form-group">
                    <% if( masters.length > 0 ) { %>

                      <label for="masterId" class="text-success">Mestres disponíveis:</label>
                      <select class="form-control" id="masterId" name="masterId">
                        <option value="">Selecione</option>

                        <% for(var i = 0; i < masters.length; i++) { %>
                          <option value="<%= masters[ i ]._id %>"><%= masters[ i ].name %></option>
                        <% } %>
                      </select>

                    <% } else { %>

                      <label for="masterId" class="text-danger">Você já enviou solicitação para todos os mestres disponíveis.</label>

                    <% } %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <br /> <br />

        <% if( requestsMasters.length > 0 ) { %>
          <h5>Esses são os pedidos enviados aos mestres, agora você deverá aguardar até que seu pedido seja aceito.</h5>

          <table class="table table-hover">
            <caption style="caption-side: top;">Pedidos enviados pendentes: <%= requestsMasters.length %></caption>
            <thead>
              <tr class="bg-light">
                <th scope="col">Mestre</th>
                <th scope="col">Data do envio</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < requestsMasters.length; i++) { %>
                <tr>
                  <td><a href="/membro/<%= requestsMasters[ i ].infoMaster.name %>"><%= requestsMasters[ i ].infoMaster.name %></a></td>
                  <th scope="row" style="text-transform: capitalize;"><%= moment(requestsMasters[ i ].date ).locale( 'pt-br' ).format( 'L LT' ) %></th>
                  <td scope="row">
                    <button type="button" class="btn btn-light" data-id="<%= requestsMasters[ i ]._id %>" data-name="<%= name %>" data-toggle="modal" data-target="#modal-confirm-cancel-master">
                      Cancelar
                    </button>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <div class="modal fade" id="modal-confirm-cancel-master" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header  alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja cancelar a solicitação para esse mestre?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/request/cancel" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>

        <br /> <br />

        <% if( requestsPendings.length > 0 ) { %>
          <h5>Esses são os pedidos recebidos, agora você deverá aceitar ou recusar esses membros como seus aprendizes.</h5>

          <table class="table table-hover">
            <caption style="caption-side: top;">Pedidos recebidos pendentes: <%= requestsPendings.length %></caption>
            <thead>
              <tr class="bg-light">
                <th scope="col">Mestre</th>
                <th scope="col">Data do envio</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < requestsPendings.length; i++) { %>
                <tr>
                  <td><a href="/membro/<%= requestsPendings[ i ].name %>"><%= requestsPendings[ i ].infoMember.name %></a></td>
                  <th scope="row" style="text-transform: capitalize;"><%= moment(requestsPendings[ i ].date ).locale( 'pt-br' ).format( 'L LT' ) %></th>
                  <td scope="row">
                    <div class="btn-group" role="group" aria-label="Action">
                      <button type="button" class="btn btn-success" data-id="<%= requestsPendings[ i ]._id %>" data-name="<%= name %>" data-toggle="modal" data-target="#modal-accept-member">Aceitar</button>
                      <button type="button" class="btn btn-danger" data-id="<%= requestsPendings[ i ]._id %>" data-name="<%= name %>" data-toggle="modal" data-target="#modal-refuse-member">Recusar</button>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <div class="modal fade" id="modal-accept-member" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header" role="alert">
                  <span class="">Tem certeza que deseja aceitar a solicitação?<br/><br/>Ao aceitar você esta ciente que precisará ajudar esse membro tirando dúvidas e estando sempre presente para que ele evolua até se tornar um mestre.</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/request/accept" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modal-refuse-member" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja recusar a solicitação?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/request/refuse" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>

        <% if( disciples && disciples.length > 0 ) { %>

          <h2>Aprendizes</h2>

          <% for(var i = 0; i < disciples.length; i++) { %>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/img/thumbs/disciple-boy-1.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                  <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                    <h3 class="card-title"><%= disciples[ i ].name %></h3>

                    <a href="/membro/<%= disciples[ i ].name %>" class="btn btn-secondary">Visitar perfil</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Cancelar aprendiz -->

          <% } %>

        <% } %>

        <% if( member.yourMasterId && member.yourMasterId !== '' ) { %>

          <h2>Mestre</h2>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/img/thumbs/master-boy-1.jpg" class="card-img" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                  <h3 class="card-title"><%= master.name %></h3>

                  <a href="/membro/<%= master.name %>" class="btn btn-secondary">Visitar perfil</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Cancelar mestre -->

        <% } %>

      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
