<% include header %>

<!doctype html>
<html lang="en">
  <% include head %>

  <body id="rules">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <h2 style="text-align: left;">Perfil: <%= member.name %></h2>

        <div class="btn-group w-100" role="group">
          <% if( !member.yourMasterId || member.yourMasterId === '' ) { %>
            <button
              type="button"
              class="btn btn-dark col-sm btn-lg bg-secondary border-0"
              data-toggle="modal"
              data-tooltip="true"
              data-target="#modal-master"
              data-member-id="<%= member._id %>"
              data-name="<%= member.name %>"
              data-placement="top"
              title="É possível enviar mais de uma solicitação.">
                Clique aqui para conseguir um mestre
              </button>

            <div class="modal fade" id="modal-master" tabindex="-1" role="dialog" aria-labelledby="Master" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" data-default="Solicitar Mestre">Solicitar Mestre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/master/request" method="post">
                    <input type="hidden" class="form-control" name="member-id">
                    <input type="hidden" class="form-control" name="name">

                    <div class="modal-body">
                      <div class="form-group">
                        <% if( availableMasters.length > 0 ) { %>

                          <label for="master-id" class="text-success">Mestres disponíveis:</label>
                          <select class="form-control" id="master-id" name="master-id">
                            <option value="">Selecione</option>

                            <% for(var i = 0; i < availableMasters.length; i++) { %>
                              <option value="<%= availableMasters[ i ]._id %>"><%= availableMasters[ i ].name %></option>
                            <% } %>
                          </select>

                        <% } else { %>

                          <label for="master-id" class="text-danger">Você já enviou solicitação para todos os mestres disponíveis.</label>

                        <% } %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <% } %>

          <% if( member.master ) { %>
            <div class="modal fade" id="modal-member" tabindex="-1" role="dialog" aria-labelledby="Member" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" data-default="Solicitar Mestre">Solicitar Aprendiz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="/disciple/request" method="post">
                    <input type="hidden" class="form-control" name="master-id">
                    <input type="hidden" class="form-control" name="name">

                    <div class="modal-body">
                      <div class="form-group">
                        <% if( availableDisciples.length > 0 ) { %>

                          <label for="disciple-id" class="text-success">Aprendizes disponíveis:</label>
                          <select class="form-control" id="disciple-id" name="disciple-id">
                            <option value="">Selecione</option>

                            <% for(var i = 0; i < availableDisciples.length; i++) { %>
                              <% if( availableDisciples[ i ].name !== member.name ) { %>
                                <option value="<%= availableDisciples[ i ]._id %>"><%= availableDisciples[ i ].name %></option>
                              <% } %>
                            <% } %>
                          </select>

                        <% } else { %>

                          <label for="disciple-id" class="text-danger">Você já enviou solicitação para todos os aprendizes disponíveis.</label>

                        <% } %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-dark col-sm btn-lg bg-info border-0"
              data-toggle="modal"
              data-tooltip="true"
              data-target="#modal-member"
              data-name="<%= member.name %>"
              data-master-id="<%= member._id %>"
              data-placement="top"
              title="É possível enviar mais de uma solicitação.">
                Clique aqui para conseguir um aprendiz
              </button>

          <% } %>
        </div>

        <br /> <br />

        <% if( requestsMasters.length > 0 ) { %>
          <h5>Esses são os seus pedidos enviados aos mestres, agora você deverá aguardar até que seu pedido seja aceito.</h5>

          <table class="table table-hover">
            <caption style="caption-side: top;">Pedidos enviados pendentes: <%= requestsMasters.length %></caption>
            <thead>
              <tr class="bg-light">
                <th scope="col">Mestre</th>
                <th scope="col">Data do envio</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < requestsMasters.length; i++) { %>
                <tr>
                  <td><a href="/membro/<%= requestsMasters[ i ].infoMaster.name %>"><%= requestsMasters[ i ].infoMaster.name %></a></td>
                  <th scope="row" style="text-transform: capitalize;"><%= moment(requestsMasters[ i ].date ).locale( 'pt-br' ).format( 'L LT' ) %></th>
                  <td scope="row">
                    <button type="button" class="btn btn-light" data-id="<%= requestsMasters[ i ]._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-confirm-cancel-master">
                      Cancelar
                    </button>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <div class="modal fade" id="modal-confirm-cancel-master" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header  alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja cancelar a solicitação para esse mestre?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/request/cancel" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>

        <% if( requestsDisciples.length > 0 ) { %>
          <h5>Esses são os seus pedidos enviados aos aprendizes, agora você deverá aguardar até que seu pedido seja aceito.</h5>

          <table class="table table-hover">
            <caption style="caption-side: top;">Pedidos enviados pendentes: <%= requestsDisciples.length %></caption>
            <thead>
              <tr class="bg-light">
                <th scope="col">Aprendiz</th>
                <th scope="col">Data do envio</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < requestsDisciples.length; i++) { %>
                <tr>
                  <td><a href="/membro/<%= requestsDisciples[ i ].infoDisciple.name %>"><%= requestsDisciples[ i ].infoDisciple.name %></a></td>
                  <th scope="row" style="text-transform: capitalize;"><%= moment(requestsDisciples[ i ].date ).locale( 'pt-br' ).format( 'L LT' ) %></th>
                  <td scope="row">
                    <button type="button" class="btn btn-light" data-id="<%= requestsDisciples[ i ]._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-confirm-cancel-disciple">
                      Cancelar
                    </button>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <div class="modal fade" id="modal-confirm-cancel-disciple" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header  alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja cancelar a solicitação para esse aprendiz?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/disciple/request/cancel" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>

        <br /> <br />

        <% if( requestsPendings.length > 0 ) { %>
          <h5>Esses são os pedidos recebidos dos aprendizes, agora você deverá aceitar ou recusar esses membros como seus aprendizes.</h5>

          <table class="table table-hover">
            <caption style="caption-side: top;">Pedidos recebidos pendentes: <%= requestsPendings.length %></caption>
            <thead>
              <tr class="bg-light">
                <th scope="col">Mestre</th>
                <th scope="col">Data do envio</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < requestsPendings.length; i++) { %>
                <tr>
                  <td><a href="/membro/<%= requestsPendings[ i ].name %>"><%= requestsPendings[ i ].infoMember.name %></a></td>
                  <th scope="row" style="text-transform: capitalize;"><%= moment(requestsPendings[ i ].date ).locale( 'pt-br' ).format( 'L LT' ) %></th>
                  <td scope="row">
                    <div class="btn-group" role="group" aria-label="Action">
                      <button type="button" class="btn btn-success" data-id="<%= requestsPendings[ i ]._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-accept-member">Aceitar</button>
                      <button type="button" class="btn btn-danger" data-id="<%= requestsPendings[ i ]._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-refuse-member">Recusar</button>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <div class="modal fade" id="modal-accept-member" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header" role="alert">
                  <span class="">Tem certeza que deseja aceitar a solicitação?<br/><br/>Ao aceitar você esta ciente que precisará ajudar esse membro tirando dúvidas e estando sempre presente para que ele evolua até se tornar um mestre.</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/request/accept" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modal-refuse-member" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja recusar a solicitação?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/request/refuse" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>

        <% if( requestsPendingsDisciples.length > 0 ) { %>
          <h5>Esses são os pedidos recebidos dos mestres, agora você deverá aceitar ou recusar esses membros como seu mestre.</h5>

          <table class="table table-hover">
            <caption style="caption-side: top;">Pedidos recebidos pendentes: <%= requestsPendingsDisciples.length %></caption>
            <thead>
              <tr class="bg-light">
                <th scope="col">Mestre</th>
                <th scope="col">Data do envio</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < requestsPendingsDisciples.length; i++) { %>
                <tr>
                  <td><a href="/membro/<%= requestsPendingsDisciples[ i ].infoMaster.name %>"><%= requestsPendingsDisciples[ i ].infoMaster.name %></a></td>
                  <th scope="row" style="text-transform: capitalize;"><%= moment(requestsPendingsDisciples[ i ].date ).locale( 'pt-br' ).format( 'L LT' ) %></th>
                  <td scope="row">
                    <div class="btn-group" role="group" aria-label="Action">
                      <button type="button" class="btn btn-success" data-id="<%= requestsPendingsDisciples[ i ]._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-accept-master">Aceitar</button>
                      <button type="button" class="btn btn-danger" data-id="<%= requestsPendingsDisciples[ i ]._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-refuse-master">Recusar</button>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>

          <div class="modal fade" id="modal-accept-master" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header" role="alert">
                  <span class="">Tem certeza que deseja aceitar a solicitação?<br/><br/>Ao aceitar você esta ciente que terá um mestre acompanhando seu processo de evolução como jogador, tirando dúvidas e cobrando seu empenho para ganhar experiência.</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/disciple/request/accept" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modal-refuse-master" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja recusar a solicitação?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/disciple/request/refuse" method="post">
                  <input type="hidden" class="form-control" name="id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %>

        <% if( member.yourMasterId && member.yourMasterId !== '' ) { %>

          <h2>Mestre</h2>
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="/img/thumbs/master-boy-1.jpg" class="card-img" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                  <h3 class="card-title"><%= master.name %></h3>

                  <a href="/membro/<%= master.name %>" class="btn btn-secondary">Visitar perfil</a>
                </div>
              </div>
              <div class="col-md-1 d-flex align-items-stretch justify-content-end ">
                <button type="button" class="d-flex align-items-center justify-content-center w-100 btn btn-danger display-1 rounded-right" style="font-size: 24px;" data-member-id="<%= member._id %>" data-master-id="<%= master._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-unlink-master">
                  &times;
                </button>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modal-unlink-master" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja se desvinvular do seu mestre?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/unlink" method="post">
                  <input type="hidden" class="form-control" name="member-id">
                  <input type="hidden" class="form-control" name="master-id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        <% } %>

        <% if( disciples && disciples.length > 0 ) { %>

          <h2>Aprendizes</h2>

          <% for(var i = 0; i < disciples.length; i++) { %>
            <div class="card mb-3" style="max-width: 100%;">
              <div class="row no-gutters">
                <div class="col-md-3">
                  <img src="/img/thumbs/disciple-boy-1.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                  <div class="card-body d-flex flex-column justify-content-between" style="height: 100%;">
                    <h3 class="card-title"><%= disciples[ i ].name %></h3>

                    <a href="/membro/<%= disciples[ i ].name %>" class="btn btn-secondary">Visitar perfil</a>
                  </div>
                </div>
                <div class="col-md-1 d-flex align-items-stretch justify-content-end ">
                  <button type="button" class="d-flex align-items-center justify-content-center w-100 btn btn-danger display-1 rounded-right" style="font-size: 24px;" data-member-id="<%= disciples[ i ]._id %>" data-master-id="<%= member._id %>" data-name="<%= member.name %>" data-toggle="modal" data-target="#modal-unlink-member">
                    &times;
                  </button>
                </div>
              </div>
            </div>

          <% } %>

          <div class="modal fade" id="modal-unlink-member" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header alert-info" role="alert">
                  <span class="align-middle">Tem certeza que deseja se desvinvular do seu aprendiz?</span>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/master/unlink" method="post">
                  <input type="hidden" class="form-control" name="member-id">
                  <input type="hidden" class="form-control" name="master-id">
                  <input type="hidden" class="form-control" name="name">

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        <% } %>

      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
