<% include header %>

<!doctype html>
<html lang="en">
  <% include head %>

  <body id="rules">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <h2>Membros</h2>

        <button type="button" class="btn btn-dark col-12" data-toggle="modal" data-target="#modal-member">Clique para adicionar membro</button>

        <table class="table table-hover">
          <caption style="caption-side: top;">Total de membros <%= members.length %></caption>
          <thead>
            <tr class="bg-light">
              <th scope="col">Mestre</th>
              <th class="col-1" scope="col">Nick</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <% for(var i = 0; i < members.length; i++) { %>
              <tr>
                <th scope="row" class="<%= members[ i ].master == true ? 'text-success' : '' %>"><%= members[ i ].master == true ? 'Sim' : 'Não' %></th>
                <td><a href="/membro/<%= members[ i ].name %>"><%= members[ i ].name %></a></td>
                <td scope="row">
                  <button type="button" class="btn btn-light"
                    data-title="Editar membro"
                    data-id="<%= members[ i ]._id %>"
                    data-name="<%= members[ i ].name %>"
                    data-whatsapp="<%= members[ i ].whatsapp %>"
                    data-master="<%= members[ i ].master %>"
                    data-target="#modal-member"
                    data-toggle="modal">
                    Editar
                  </button>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <div class="modal fade" id="modal-member" tabindex="-1" role="dialog" aria-labelledby="Member" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" data-default="Novo membro">Novo membro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="/member" method="post">
                <input type="hidden" class="form-control" name="id">

                <div class="modal-body">
                  <div class="form-group">
                    <label for="name" class="col-form-label">Apelido:</label>
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="whatsapp" class="col-form-label">Número whatsapp:</label>
                    <input type="tel" class="form-control" id="whatsapp" name="whatsapp">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="master" name="master">
                    <label class="form-check-label" for="master">Mestre</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
