<!doctype html>
<html lang="pt-br">
  <% include head %>

  <body id="staff">
    <% include bg-shadow %>
    <% include header %>

    <main>
      <section class="wrap-content">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Staff</li>
          </ol>
        </nav>

        <h2>Staff</h2>

        <p>Logo abaixo temos a lista de membros que estão a frente da guild, a Arkanys esta presente em diversos jogos, então em breve teremos atualizações com mais membros disponíveis na Staff incluindo outros jogos.</p>

        <h3>Arkanys Survival Heroes:</h3>

        <ul class="list-staff">
          <% for(var i = 0; i < staff.length; i++) { %>
            <li>
              <div class="media">
                <a class="wrap-thumbnail" href="/membro/<%= staff[ i ].name %>">
                  <div class="thumbnail" style="background-image: url(/img/perfil/<%= staff[ i ].name %>.jpg);"></div>
                </a>
                <div class="media-body">
                  <h4 class="mt-0"><%= staff[ i ].name %></h4>
                  <p><%- staff[ i ].bio %></p>
                  <p><a class="lnk" href="/membro/<%= staff[ i ].name %>">Visitar perfil</a></p>
                </div>
              </div>
            </li>
          <% } %>
        </ul>

      </section>

    </main>

    <% include footer %>
  </body>

  <% include scripts %>
</html>
